name: Dev Backend Deploy

on:
  push:
    branches:
      - dev-backend
  workflow_dispatch:

jobs:
  deploy-dev:
    runs-on: self-hosted

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Sync and Deploy
        run: |
          cd /root/development/synergazing_backend
          git pull origin dev-backend
          sudo docker compose -f docker-compose.dev.yml down
          sudo docker compose -f docker-compose.dev.yml up --build -d
          sudo docker image prune -f
